{% extends 'base.html' %}
{% load i18n %}
{% load static %}



{% block head %}
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
{% endblock head %}
    

{% block title %}
{% trans "Checkout" %}
{% endblock title %}
    

{% block main %}
<div class='container'>
    <div class='window'>
      <div class='order-info'>
        <div class='order-info-content'>
          <h2> {% trans 'Order Summary' %}</h2>
                  <div class='line'></div>

        <div class="me-5">

            
            {% for item in cart %}

            <table class='order-table'>
              <tbody>
                <tr>
                  <td><img src='{{item.product.image.url}}' class='full-width'></img>
                  </td>
                  <td>
                    <br> <span class='thin'>{{item.product.name}}</span>
                    <br> {% trans 'Quantity' %} : {{item.quantity}}<br> <span class='thin small'> {% trans 'Price' %} : ${{item.price}} </span>
                  </td>
    
                </tr>
                <tr>
                  <td>
                    <div class='price'>{{item.total_price}}</div>
                  </td>
                </tr>
              </tbody>
    
            </table>

            <hr>
            {% endfor %}
        </div>
        
        {% if cart.coupon %}

        <div>
          {% trans 'Subtotal' %}  : ${{cart.get_total_price}} <br>
          
          {% blocktrans with code=cart.coupon.code discount=cart.coupon.discount %}
          "{{ code }}" ({{ discount }}% off)
          {% endblocktrans %}
          
           <span class="neg text-danger"> : - ${{ cart.get_discount|floatformat:2 }}</span>

        </div>
        {% endif %}

        
    <div class='total mt-5' >
      <span style='float:left;'>
       {% trans 'TOTAL' %} 
      </span>
      <span style='float:right; text-align:right;'>
        ${{cart.get_total_price_after_discount|floatformat:2}}
      </span>
    </div>


  </div>
  </div>
          <div class='credit-info'>
            <div class='credit-info-content'>
                <form action="" method="post">
                    {% csrf_token %}
                    <table class='half-input-table'>
                      {{form.as_table}}
                    </table>
                    <button class='pay-btn' type="submit"> {% trans 'Place order' %} </button>
        
                </form>
            </div>
  
          </div>
        </div>
  </div>
{% endblock main %}

