{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
  
  {% if category %}
    {{category.name}}
  {% else %}
   {% trans 'Products' %} 
  {% endif %}
    
{% endblock title %}


{% block main %}
<div class="row">

  <div class="col-md-3">

      <div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 10rem;">
        <a href="/" class="d-block p-3 link-dark text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
        </a>
        <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
          
        
          <li class="nav-item">
            <a href=" {% url 'product_list' %} " class="nav-link  {% if not category %} active {% endif %} py-2 border-bottom" aria-current="page" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
             {% trans 'All Products' %} 
            </a>
          </li>
          
            
      
      {% for c in categories %}
            <li>
              <a href="{{c.get_absolute_url}}" class="nav-link py-2 border-bottom 
              {% if category.slug == c.slug %} active {% endif %}" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
              {{c.name}}
              </a>
            </li>
      {% endfor %}
        
      
        </ul>
        <!-- <div class="dropdown border-top">
          <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser3">
            <li><a class="dropdown-item" href="#">New project...</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </div> -->
        
      </div>
  </div>

  <div class="col-md-9 mt-5">
    <h1>

      {% if category %}
        {{category.name}}
      {% else %}
       {% trans 'Products' %} 
      {% endif %}
    </h1>
     <hr>
    <div class="row">

      
      {% for product in products %}
        
      <div class="card col-md-3 mx-3 my-2">
        <a href="{{product.get_absolute_url}}">
          
          {% if product.image %}
            <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
          {% else %}
            <img class="card-img-top" src="{% static 'noimg.png' %}" alt="Card image cap">
          {% endif %}
            
        </a>
        <div class="card-body">
          <a href="{{product.get_absolute_url}}" class="link-dark">
            <h5 class="card-title text-center">{{product.name}}</h5>
          </a>

          <h6 class="card-title text-center">${{product.price}}</h6>
          <div class="text-center">

            <a href="{{product.get_absolute_url}}" class="btn btn-dark"> {% trans 'View' %} </a>
          </div>
        </div>
      </div>

      
      {% endfor %}


  </div>

</div>







{% endblock main %}
  