{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    {{product.name}}
{% endblock title %}


{% block main %}
<div class="row">

    <div class="col-md-5 mt-5">

        {% if product.image %}  
            <img src="{{product.image.url}}" class="img-fluid" alt="Responsive image">
        {% else %}
            <img src="{% static 'noimg.png' %}" class="img-fluid" alt="Responsive image">
        {% endif %}
            
    </div>

    <div class="col-md-6 mt-5">

        <h1>{{product.name}}</h1>
        <hr>

        <a href="{{product.category.get_absolute_url}}">
            <h4>{{product.category}}</h4>
        </a>

        <h4>${{product.price}}</h4>
        <hr>
        <form action="{% url 'cart_add' product.id %}" method="post">
            {{cart_product_form}}
            {% csrf_token %}
            <input type="submit" value="{% trans 'Add to cart' %}" class="btn btn-dark">
        </form>
        <hr>
        <p>{{product.description|linebreaks}}</p>

    </div>
        

</div>


{% if recommended_products %}
 
<div class="row">
    <h3>{% trans "People who bought this also bought" %}</h3>
    <hr>
      
    {% for product in recommended_products %}
      
    <div class="card col-md-3 mx-3 my-2">
      <a href="{{product.get_absolute_url}}">
        
        {% if product.image %}
          <img class="card-img-top" src="{{product.image.url}}" alt="Card image cap">
        {% else %}
          <img class="card-img-top" src="{% static 'noimg.png' %}" alt="Card image cap">
        {% endif %}
          
      </a>
      <div class="card-body">
        <a href="{{product.get_absolute_url}}" class="link-dark">
          <h5 class="card-title text-center">{{product.name}}</h5>
        </a>

        <h6 class="card-title text-center">${{product.price}}</h6>
        <div class="text-center">

          <a href="{{product.get_absolute_url}}" class="btn btn-dark"> {% trans 'View' %} </a>
        </div>
      </div>
    </div>

    
    {% endfor %}


</div>

{% endif %}
{% endblock main %}
    
    