{% extends 'base.html' %}


{% block title %}
    Failed
{% endblock title %}


{% block main %}
<div class="tex-center mt-5 mx-auto">
    <div class="card text-dark bg-warning mb-3 mx-auto" style="max-width: 18rem;">
        <div class="card-header text-center">Failed</div>
        <div class="card-body">
          <h5 class="card-title">Your payment failed</h5>
          <p class="card-text">Sorry for the inconvinience please try again</p>
        </div>
      </div>
</div>
{% endblock main %}
    